/* Navigation */
nav {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
  color: #b35166;
}

#nav-app-name {
  font-size: 22px;
  color: #575757;
}
