/* Customize pagination */
.page-link {
  color: #575757;
}
.page-link:hover,
.page-link:focus {
  color: #924657;
}

.page-item.active .page-link {
  background-color: #b6586d;
  border-color: #b6586d;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customize button */
.btn-primary {
  background-color: #b6586d;
  border: #b6586d;
  color: white;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #924657;
}
