/* Post a cat page */
.h4 {
  font-weight: normal;
}

.post-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.post-content {
  text-align: center;
}

.post-label {
  width: 180px;
  text-align: left;
}

.cat-input {
  width: 60%;
  max-width: 450px;
  min-width: 350px;
}

#post-info-title {
  margin-bottom: 40px;
}

.post-button {
  width: 120px;
  margin-top: 20px;
}

.input-group {
  flex-wrap: nowrap;
}

#emailInput,
#phoneInput,
#catPhotoFile {
  width: 100%;
}
