body {
  color: #575757;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-container {
  margin-top: 100px;
}

/* search bar */
.search-container {
  margin-left: 8%;
  margin-right: 8%;
}

/* Navigation */
nav {
  font-size: 18px;
}

.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
  color: #cf929e;
}

.navbar-brand {
  font-size: 22px;
}

/* Customize a tag */
a {
  color: #cf929e;
}

a:hover {
  color: #aa7a83;
}

/* Customize pagination */
.page-link {
  color: #575757;
}
.page-link:hover,
.page-link:focus {
  color: #cf929e;
}

.page-item.active .page-link {
  background-color: #cf929e;
  border-color: #cf929e;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customize button */
.btn-primary {
  background-color: #cf929e;
  border: #cf929e;
  color: white;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #bf8e97;
}

/* Empty page placeholder */
.placeholder-container {
  width: 50%;
  margin: auto;
  margin-top: 20%;
}

.placeholder-logo {
  display: block;
  margin: auto;
  opacity: 0.5;
  padding: 10px;
}

.placeholder-msg {
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
}

.placeholder-link {
  display: block;
  margin: auto;
  width: max-content;
}
/* Landing page */
#landing-page-container {
  height: calc(100vh - 56px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f8eff0;
}

#landing-page-content {
  width: auto;
  max-width: 70%;
}

#kitty-friends-logo {
  display: block;
  margin: auto;
  width: auto;
  max-width: 40%;
}

#landing-page-text {
  margin-top: 10%;
  font-family: 'Amarante', cursive;
  font-size: 20px;
}

/* Sign In and Register page */
#sign-in-container,
#register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#sign-in-content,
#register-content {
  text-align: center;
}

.footer-text {
  margin-top: 10px;
}

#sign-in-button,
#register-button {
  width: 320px;
  margin-top: 20px;
}

.sign-in-input,
.register-input {
  width: 320px;
  margin-top: 20px;
  margin-bottom: 26px;
}

#welcome-message {
  font-size: 22px;
  margin-top: 30px;
}

#sign-in-logo {
  width: 200px;
}

#register-logo {
  width: 200px;
  margin-bottom: 30px;
}

.error-msg {
  color: red;
}

/* Card */
.card {
  width: 20rem;
}

.cat-pic {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.card-text {
  padding: 2px;
}

.action-icon {
  font-size: 20pt;
  cursor: pointer;
  color: gray;
}

.heart:hover,
.trash:hover,
.heart-fill {
  color: #cf929e;
}

.heart-fill:hover {
  color: #b6807f;
}
